@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
:root {
  --color-bg-dark: #f5f5f5;
  --color-accent: #f97316;
}

html.dark {
  --color-bg-dark: #1a1c35;
  --color-accent: #3b82f6;
}

body {
  margin: 0;
  font-family: 'Pretendard';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg-dark);
}
#root {
  width: 100%;
  max-width: 450px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 5px 5px 21px 4px rgba(0, 0, 0, 0.45);
  box-shadow: 5px 5px 21px 4px rgba(0, 0, 0, 0.45);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent);
}
